{% extends 'layout.html' %}
{% block content %}
    <div class="shows">
{#        {% for show in most_rated_shows %}#}
{#        <div>{{ show.title }}</div>#}
{#        <div>{{ show.year }}</div>#}
{#        <div>{{ show.rating }}</div>#}
{#        {% endfor %}#}
            <table>
            <thead>
            <tr>
                <td>Title</td>
                <td>Year</td>
                <td>Rating</td>
            </tr>
            </thead>
            <tbody>
            {% for show in shows %}
                <tr>
                <td>{{ show.title }}</td>
                <td>{{ show.year }}</td>
                <td>{{ show.rating }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}